.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    padding-bottom: 30px;
}
